#main{
	display: grid;
	grid-template-columns: 1fr 6fr;
}

#nav-bar{
	display: flex;
	flex-direction: column;
	position: fixed;
	margin-top: 75px;
	margin-left: 20px;
}

#nav-bar-wrapper{
	position: sticky;
    top: 0;
    height: 100vh;
    box-sizing: border-box;
}

#page-title{
	text-align: center;
}

.section-description{
	width: 85%;
	margin: auto;
	font-style: italic;
}

#content{
	margin-left: 10px;
}

.main-grid-item{
	float: left;
}

.header1{
	font-size: 40px;
	margin-top: 10px;
	margin-bottom: 10px;
}


.header2{
	font-size: 30px;
	margin-top: 10px;
	margin-bottom: 10px;
}

a {
  color: black;
  text-decoration: none; /* no underline */
}

.header3{
	font-size: 25px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.film-analysis-header{
	text-align: center;
}

.film-analysis-module{
	width: 80%;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}
.film-analysis-video-block{
}

.film-analysis-description{
	margin-bottom: 50px;
}

p.film-analysis-text{
	margin-top: 30px;
	margin-bottom: 30px;
}

.video{
	width: 100%;
	display: block;
	margin: auto;
}

.image{
	width: 100%;
	display: block;
	margin: auto;
}

.header4{
	font-size: 20px;
}


.link1{
	font-size: 13px;
}


.link2{
	font-size: 11px;
}

#sublink-wrapper{
	margin-left: 15px;
}


.navbar-link{
	margin: 5px;
}



video:focus {
    outline:none;
}

.navbar-sublink{
	margin-top: 5px;
	margin-bottom: 5px;
}